@media (max-width: 1200px) {
    #logo img {
        max-width: 320px; /* menor em telas pequenas */
    }
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .search-box {
        right: 45px;
    }
    main {
        width: 100%;
    }
    .barra-integrante h1 {
        font-size: 35px;
        text-align: center;
    }
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pessoa {
        margin-left: 40px;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .pessoa img {
        width: 110px; /* Reduz o tamanho da imagem */
        height: auto;
        border-radius: 50%;
    }
    .info h1 {
        font-size: 1.2em;
        margin: 10px 0;
        text-align: center;
    }
    .info p {
        font-size: 0.9em;
        text-align: center;
    }
    .social {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-left: 20px;
    }
    .social img {
        width: 34px; /* Ajusta o tamanho dos ícones */
        height: auto;
    }
    footer .menu {
        gap: 20px;
        margin-left:20px;
    }
    .footer .social {
        gap: 30px;
        margin-right: 25px;
    }
    #wrapper{
        width: 100%;
        height: 800px;
    }
}


