@media (max-width: 600px) {
    
    #wrapper{
        width: 100%;
        height: 3500px;
    }
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .search-box {
        top: 3dvh;
        right: 15px;
    }
    #texto h1{
        font-size: 25px;
    }
    footer .menu {
        gap: 20px;
        margin-left:20px;
    }
    .footer .social {
        gap: 30px;
        margin-right: 25px;
    }
    section img {
        width: 100%;
        height: 400px;
        margin-left: 5px;
    }
    
}
